set project_name { {{ top }} }
puts "Vivado project $project_name"
set work_dir { {{ workDir }} }

set part      { {{ part }} }

set jobs { {{ jobs }} }
set project_dir [file normalize ./$project_name]