source args.tcl
file mkdir $project_dir

puts "Generating project ${project_name}"

create_project $project_name $project_dir -part $part -force

{% for s in sourceList %}
puts "Importing source: {{ s }}"
add_files -fileset sources_1 {{ s }}
{% endfor %}

set_property top ${top} [current_fileset]
set_property top_file {$top_file} [current_fileset]
update_compile_order -fileset sources_1

{% for ip in ipList %}
puts "Importing IP core: {{ ip }}"
import_files -norecurse {{ ip }}
{% endfor %}

{% for xdc in xdcList %}
puts "Importing xdc file: {{ xdc }}"
add_files -fileset constrs_1 {{ xdc }}
{% endfor %}

close_project